<a routerLink="/"><div class="logo"></div></a>
<h2>xGrade - портал online-тестирования IT специалистов</h2>
<p>На портале xGrade доступны актуальные тесты по наиболее востребованным на рынке труда языкам программирования и IT технологиям.
  Вопросы для тестов составлены практикующими разработчиками на основе практических кейсов и реального опыта проведения
  собеседований кандидатов на позиции программистов в ведущих IT компаниях. Прохождение тестов бесплатно
и не требует регистрации.</p>
<hr>
<div class="row">
  <div class="col-4" *ngFor="let quiz of quizes">
    <div class="card quiz-tile">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="/test/{{quiz.id}}">{{quiz.name}}</a></h5>
        <p class="card-text">{{quiz.description}}</p>
         <div class="badge badge-info">Прохождений: {{quiz.counter}}</div>
      </div>
      <div class="card-footer">
        <a class="card-link" routerLink="/test-detail/{{quiz.id}}">Подробнее...</a>
      </div>
    </div>

</div>
</div>
<hr>
<div>&copy; 2020 xGrade</div>


