<a routerLink="/"><div class="logo"></div></a>
<div id="quiz">
  <h2 class="text-center">{{quiz.name}}</h2>
  <h4 class="text-center font-weight-normal">{{quiz.description}}</h4>
  <h6 *ngIf="quiz.themes" class="text-center font-italic">{{quiz.themes}}</h6>
  <hr />
  <div *ngIf="mode=='quiz' && quiz">
    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-info">Вопрос {{pager.index + 1}} из {{pager.count}}</div>
      <div *ngIf="config.duration" class="badge badge-info float-right">Время: {{ellapsedTime}} / {{duration}}</div>
      <h3 class="font-weight-normal question-caption">{{pager.index + 1}}.
        <span>{{question.name}}</span>
      </h3>
      <pre *ngIf="question.codeSample" class="code-sample"><code [highlight]="question.codeSample" [languages]="languages"></code></pre>
      <div class="row text-left options">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="option">
            <label class="font-weight-normal" [attr.for]="option.id">
              <input type="checkbox" id="{{option.id}}" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
              &nbsp;<span *ngIf="!option.isCodeSample">{{option.name}}</span>
            </label>
            <pre *ngIf="option.isCodeSample"><code [highlight]="option.name" [languages]="languages"></code></pre>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">Первый</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Пред.</button>
      <button class="btn btn-primary" [disabled]="disableNextQuestion" (click)="goTo(pager.index + 1);">След.</button>
      <button class="btn btn-default" [disabled]="disableNextQuestion" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Последний</button>
      <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
    </div>
  </div>

  <div class="row text-center" *ngIf="mode=='review'">
    <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) ? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) ? 'Есть ответ' : 'Нет ответа' }}</div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'">
    <h2 class="p-1 m-2 alert text-center {{quizResult.resultClass}}">Ваш результат: {{quizResult.scores}}/{{quizResult.scoresTotal}}</h2>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5>{{index + 1}}. {{question.name}}</h5>
        <pre *ngIf="question.codeSample"><code [highlight]="question.codeSample" [languages]="languages"></code></pre>
        <div class="row">
          <div class="col-6" *ngFor="let option of question.options">
            <input type="checkbox" disabled="disabled" [(ngModel)]="option.selected" /> {{option.name}}
          </div>
        </div>
        <div class="p-1 m-2 alert {{ isCorrect(question) ? 'alert-success': 'alert-danger'}}">Ваш ответ: {{isCorrect(question) ? 'Верно' : 'Неверно'}}.</div>
      </div>
    </div>
    <h4 class="alert alert-info text-center"> <a routerLink="/">Вернуться к списку тестов</a></h4>
  </div>
  <hr />
  <div *ngIf="mode!='result'">
    <button class="btn btn-warning" (click)="mode = 'quiz'">Тест</button>
    <button class="btn btn-info" (click)="mode = 'review'">Обзор</button>
    <button class="btn btn-primary" (click)="onSubmit();">Отправить на проверку</button>
  </div>
</div>
<hr>
<div>&copy; 2020 xGrade</div>
