<a routerLink="/"><div class="logo"></div></a>
<h3>Подробная информация о тесте {{quizName}}</h3>
<p *ngFor="let str of quizDetailContent">{{str}}</p>
<p>
  <a routerLink="/test/{{quizId}}"><button class="btn btn-primary">Начать тестирование</button></a>
</p>
<hr>
<div>&copy; 2020 xGrade</div>
